/* ----- General Body Design ----- */
#App-wrapper {
  /* position: relative; */
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 14% 43% 43%;
}

button:hover { 
  opacity: 0.8; 
  cursor: pointer;

}
body {
  align-content: center;
  font-family: "Fredoka One", cursive;
  margin: 0;
  background-color: #2a9d8f;
}

button {
  border-radius: 50%;
  border: 0;
  width: auto;
  background-color: #2a9d8f;
  color: white;
  font-size: 3vh;
  font-family: "Fredoka One", cursive;
}

/*----------------Header------------------*/
#header {
  grid-column: 1/4;
  grid-row: 1;
  color: white;
  background-color: #423582;
  font-weight: bold;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: auto;
}

#game-logo {
  height: 12vh;
  width: auto;
}

/*----------------Left side---------------*/
#welcome-message,
#panel-container {
  grid-column: 1;
  grid-row: 2;
  text-align: justify;
  color: white;
  display: flex;
  align-items: center;
  padding: 6vw;
  background-image: url("../images/topGameConsole.png");
  background-size: 100% 100%;
  font-size: 0.7vw;
  margin: 1vw 1vw 0 1vw;
}

#start-container,
#compass-container, #new-game-container {
  grid-column: 1;
  grid-row: 3;
  text-align: center;
  background-image: url("../images/bottomGameConsole.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
}

#welcome-words {
    /* width: 70%; */
    animation: typing 12s steps(12), blink 1s infinite 8s;
    -webkit-animation-delay: 1s; 
    animation-delay: 1s; 
    white-space: wrap;
    overflow: hidden;
    border-right: .15em solid transparent;
    /* font-size: 4vw; */
    /* z-index: 2200;  */
    /* position: absolute;  */
    /* top: 5vw;  */
    /* text-align:center;  */
    opacity: 0; 
}

@keyframes blink {
  from, to {
    border-color: transparent
  }
}

@keyframes blink {
  from, to {
    border-color: transparent;
    opacity: 1; 
  }
}

#start-button, #new-game-button {
  height: 50%;
  width: 40%;
  font-family: "Fredoka One", cursive;
}

#north,
#east,
#south,
#west {
  width: 50px;
  height: 50px;
  font-size: 2vw;
  margin: 5px;
}

/* ----- Right Side Design ----- */

#score-wrapper {
  grid-column: 3;
  grid-row: 2;
  background-color: #423582;
  color: white;
  font-size: 4vw;
  border-radius: 10px;
  margin: 1vw;
  padding: 2vw;
  max-width: 100%;
  max-height: 78%;
  display: flex;
  justify-content: center;
  /* text-justify: center; */
  /* justify-items: center; */
  align-items: center;
  /* text-align: center; */
}

#score {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #e9c46a;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#score-container {
  justify-content: center;
  display: flex;
  width: 100%;

}

#display-buttons-container {
  grid-column: 3;
  grid-row: 3;
  background-color: #423582;
  color: white;
  font-size: 4vw;
  border-radius: 10px;
  margin: 0 1vw;
  padding: 2vw;
  max-width: 100%;
  max-height: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#guess {
  grid-column: 1;
  grid-row:1; 
  background-image: url("../images/Guess\ buttonAsset\ 3.png");
  background-size: 100% 100%;
  width: 6vw;
  height: 6vw;
  font-size: 2vw;
  margin: 5px;
}

/* #return-container{ 
  width: 100%;
  display: flex;  
  justify-content: flex-end;
} */
#return-to-start {
  grid-column: 2;
  grid-row: 2; 
  background-image: url("../images/restartButton.png");
  background-size: 100% 100%;
  width: 6vw;
  height: 6vw;
}

#give-up {
  grid-column: 1;
  grid-row:3; 
  background-image: url("../images/quitButton.png");
  background-size: 100% 100%;
  width: 6vw;
  height: 6vw;
  font-size: 2vw;
  margin: 5px;
}

/*---------------Center Container - Map ------------*/

#map {
  justify-content: center;
  margin-top: 1vw; 
  text-align: center;
  grid-row: 2/4;
  grid-column: 2;
  border-radius: 10px;
  margin-right: 1vw;
  margin-left: 1vw;
}

#map-container {
  border-radius: 10px;
  border: 20px solid #423582;
}

/* ----- Guess the County Popup ----- */
#guess-county-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}
select {
  margin: 1vw;
  padding: 0.5vw;
  border: 0; 
  border-radius: 10px;  
}

#guess-county {
  height: 20vh;
  width: 30vw;
  border-radius: 10px;
 background-color: #ebd292;
  padding: 1vw;
  margin: 1vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.guess-button {
  display: inline;
  height: 6vw; 
  width: 6vw; 
  margin: 0 1.5vw;
  font-size: 1.5vw;
  padding: 0.5vw;  
}

/* ----- Winning/Losing Message Popup ----- */
.message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.message {
  height: 40vh;
  width: 38vw;
  border-radius: 10px;
  background-color: #ebd292;
  color: white; 
  padding: 5vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  text-align: center;
  font-size: 3vh;
}
